# cp "${USERPATCHES_PATH}/mxqpro4k.tvb" "${SRC}/config/boards/mxqpro4k.tvb"


EXTRA_PACKAGES_IMAGE="avahi-daemon libnss-mdns net-tools vim"
EXTRA_PACKAGES_IMAGE_REFS="package:avahi-daemon:custom package:libnss-mdns:custom package:net-tools:custom package:vim:custom"

# Récupération dynamique de tous les hooks appelés par le core d'Armbian
# On cherche les appels à call_extension_method dans le répertoire lib/
ARMBIAN_HOOKS_LIST=$(grep -r "call_extension_method" "${SRC}/lib" | \
    sed -n "s/.*call_extension_method ['\"]\([^'\"]*\)['\"].*/\1/p" | sort | uniq)

# Boucle de génération des fonctions
for hook_name in $ARMBIAN_HOOKS_LIST; do
    eval "
    ${hook_name}__display_fn_name() {
        display_alert \"Hook execution: ${hook_name}__display_fn_name\" \"TRACE\" \"info\"
    }
    "
done

# Message de confirmation au lancement du script compile.sh
display_alert \"$(echo $ARMBIAN_HOOKS_LIST | wc -w) trace functions generated\" \"DEBUG\" \"info\"
