cp "${USERPATCHES_PATH}/mxqpro4k.tvb" "${SRC}/config/boards/mxqpro4k.tvb"
cp "${USERPATCHES_PATH}/t95max.tvb" "${SRC}/config/boards/t95max.tvb"
EXTRA_PACKAGES_IMAGE="avahi-daemon libnss-mdns net-tools vim"
EXTRA_PACKAGES_IMAGE_REFS="package:avahi-daemon:custom package:libnss-mdns:custom package:net-tools:custom package:vim:custom"

user_config_post_uboot_config() {
    if [[ $BOARD == "t95max" ]]; then
        display_alert "Custom" "Forcing Odroid C4 FIP logic" "info"
        BOOT_FIP_TYPE="odroidc4"
    fi
}
